.container
  color: white
  padding-right: 20%
  ul
    list-style-type none
  p
    line-height: 30px
  h1,h2
    color #be9b42
    text-transform uppercase
    letter-spacing 1px
  h1
    font-size 28px
    margin-bottom 0
    font-family Montserrat
  h2
    margin-top 10px
    font-weight 400
    font-size 22px
  h3
    letter-spacing 1px
  p
    letter-spacing 1px!important
    font-size 14px
