.category
  color: white
  border: 2px solid #be9b42
  padding: 20px 40px
  margin: 20px 0
  cursor: pointer;
  text-align: left;
  font-family: kanit
  font-size: 20px
  &:hover
    background-color: #be9b42
.categoriesContainer
  width: 700px
  margin: 0 auto 0 auto
.container
  text-align: center;
.container
  .title
    margin-bottom: 50px
    font-family: Montserrat
    font-size: 50px
    color: white
