.sideNavgationContainer
  position: fixed;
  top: 50%
  transform: translateY(-50%);
  text-align: right;
  right 30px
  transition: 0.2s
.singLogo
  position fixed
  bottom 20px
  right 20px
  z-index 999999
  color white
  font-size 8px
  text-align center
  img
    width 60px

.circle
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  width: 12px
  margin: 10px 0 10px 5px
  height: 12px
  border-radius: 50%
  border 1px solid #888888
.dotNavText
  opacity: 0;
  font-size: 8px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  color: white;
  line-height: 8px;
  transition: 0.1s
.show
  opacity: 1
.white
  background-color: white
.dotNavContainer
  display: block;
  cursor: pointer;
.dotNavContainer:hover .dotNavText
  opacity: 1
@media screen and (max-width 500px)
  .dotNavContainer
    display: none
