.sideNavgationContainer
  position: fixed;
  top: 50%
  transform: translateY(-50%);
  text-align: right;
  right 30px
.circle
  vertical-align: middle;
  display: inline-block;
  width: 12px
  margin: 5px 0 5px 5px
  height: 12px
  border-radius: 50%
  border 1px solid white
.dotNavText
  opacity: 0;
  font-size: 8px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  color: white;
  line-height: 8px;
  transition: 0.1s
.show
  opacity: 1
.white
  background-color: white
.dotNavContainer
  display: block;

@media screen and (max-width 500px)
  .dotNavContainer
    display: none
