.container
  margin-top: 80px
  padding 80px 20px 40px 20px;
  background-image: url('./assets/KAAN Show_01 Intro to KAAN (1280x800 px).png');
  background-position:center;
  background-size: cover;
  text-align: center
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  p
    font-family: Kanit
    color: white
    display: block
    margin: 0 auto
    max-width: 850px
    line-height: 1.6
    font-size 18px
    letter-spacing: 1px
    text-align: left
    margin-top: 50px
