.container
  min-height: calc(100vh - 80px)
  padding 80px 20px 40px 20px
  background url('./assets/kaanGallery/KAAN_Website (1280x800px)_05 GalleryBGOnly_Simp_bo_20161116.png') center no-repeat
  background-size: cover;
  text-align: center
  color: white
.PreviewSectionContainer
  margin-top: 40px
@media screen and (max-width 500px)
  .container
    h1
      margin-bottom 30px