.container
  min-height: calc(100vh - 80px)
  padding 80px 20px 160px 20px
  background-color: black
  text-align: center
  color: white
  box-sizing border-box
  p
    font-family: Kanit
    color: white
    display: block
    margin: 0 auto
    font-weight 200
    max-width: 850px
    line-height: 2
    font-size 14px
    letter-spacing: 1px
    text-align: left
    margin-top: 50px

.previewSectionContainer
  margin-top: 50px
