.container
  min-height: calc(100vh - 80px)
  padding 80px 20px 40px 20px
  background-color: black
  text-align: center
  color: white
  p
    color: white
    display: block
    margin: 0 auto
    max-width: 720px
    line-height: 1.6
    text-align: left
    margin-top: 50px
.previewSectionContainer
  margin-top: 50px
