.container
  padding 40px 20px
  background-image: url('./assets/KAAN Show_01 Intro to KAAN (1280x800 px).png');
  background-position: top;
  background-size: cover;
  text-align: center
  height: calc(100vh - 80px);
  box-sizing: border-box;
  p
    color: white
    padding-left: 20%;
    padding-right: 20%;
    text-align: left
