.container
  padding 40px 20px
  background-image: url('./assets/KAAN Show_01 Intro to KAAN (1280x800 px).png');
  background-position: top;
  background-size: cover;
  text-align: center
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  p
    color: white
    display: block
    margin: 0 auto
    max-width: 700px
    line-height: 1.5
    text-align: left
    margin-top: 50px
