.responsiveSliderContainer
  display none
  max-width 300px
  margin 0 auto
.block
  width 32%
  max-width: 280px
  max-height: 420px
  height 45vw
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: white
  overflow hidden
  transition: 0.5s
  cursor: pointer;
  .imageBlock
    position: absolute;
    width: 100%
    left: 0
    right: 0
    margin: 0 auto
    transition: 1.5s
  .blackOverlay
    position: absolute;
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: black
    z-index: 2
    transition: 1.5s
    opacity: 0
  .emptyOverlay
    position: absolute;
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 30
    background: rgba(0,0,0,0)
    &:hover ~ .blackOverlay
      opacity: 0.7
    &:hover ~ .imageBlock
      transform: scale(1.3)
  .blockTitle
    position: absolute;
    left: 0
    right: 0
    margin: 0 auto
    top: 50%
    transform: translateY(-50%);
    z-index: 20
    font-family: 'Kanit', cursive;
    font-size: 45px
    letter-spacing: 1px
    text-shadow: 3px 3px 10px black;
    font-weight: 700
    max-width: 240px
    .subTitle
      font-family: Montserrat
      font-size: 10px
      font-weight: 200
      letter-spacing: normal;
      text-transform: uppercase;
      margin-top 2px
.container
  background-color: black
  min-height: calc(100vh - 80px)
  text-align: center
  padding 80px 20px 40px 20px
  background url('./assets/kaanGallery/KAAN_Website (1280x800px)_05 GalleryBGOnly_Simp_bo_20161116.png') center no-repeat
  background-size: cover;
  h2
    color: white
    margin: 0
    font-family: Montserrat
    font-weight: 700
  ::-webkit-scrollbar
    width: 5px
  ::-webkit-scrollbar-thumb
    background: #be9b42
    border-radius: 1px
  ::-webkit-scrollbar-track
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(93,93,93,1) 41%, rgba(93,93,93,1) 60%, rgba(0,0,0,0) 61%, rgba(0,0,0,0) 100%);
.blocksContainer
  margin: 40px auto 0 auto
  max-width: 850px
  text-align: center
  font-size: 0
.desktopSliderContainer
  position: relative;
  .arrowLeft
    position: absolute;
    width: 20px
    left: -40px
    top: 50%
    transform: translateY(-50%);
    cursor: pointer;
  .arrowRight
    position: absolute;
    width: 20px
    right: -40px
    top: 50%
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
@media screen and (max-width 768px)
  .block
    .blockTitle
      font-size 30px
@media screen and (max-width 450px)
  .block
    max-width none
    max-height none
  .blockMobile
    width 100%
    height 100vw!important
  .responsiveSliderContainer
    display block
  .desktopSliderContainer
    display none
    .arrowRight
      right 0
      z-index 10
    .arrowLeft
      left 0
      z-index 10
