.block
  width: 33.33%
  height: 440px
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: white
  transition: 0.5s
  cursor: pointer;
  &:hover
    background-size: 120%!important
    background-position: center center!important
  .blockTitle
    position: absolute;
    left: 0
    right: 0
    margin: 0 auto
    top: 50%
    transform: translateY(-50%);
    z-index: 20
    font-family: 'Kanit', cursive;
    font-size: 45px
    letter-spacing: 1px
    text-shadow: 3px 3px 10px black;
    font-weight: 700
    max-width: 240px
    .subTitle
      font-family: Montserrat
      font-size: 10px
      font-weight: 200
      letter-spacing: normal;
      text-transform: uppercase;;
      margin-top 2px
.container
  background-color: black
  min-height: calc(100vh - 80px)
  text-align: center
  padding 80px 20px 40px 20px
  background url('./assets/kaanGallery/KAAN_Website (1280x800px)_05 GalleryBGOnly_Simp_bo_20161116.png') center no-repeat
  background-size: cover;
  .subTitle
    color: white
    margin: 0
.blocksContainer
  margin: 40px auto 0 auto
  max-width: 850px
  text-align: center
  font-size: 0
.sliderContainer
  position: relative;
  .arrowLeft
    position: absolute;
    width: 20px
    left: -40px
    top: 50%
    transform: translateY(-50%);
    cursor: pointer;
  .arrowRight
    position: absolute;
    width: 20px
    right: -40px
    top: 50%
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
