.socialBlock
  position: relative;
  width: calc(100% / 6)
  height: 200px
  display: inline-block;
.socialCaption
  position: absolute;
  left: 0
  right: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5);
.newsLetter
  text-align: center
  padding: 40px 5%
  color: white
  background-color: #be9b42
  font-family: Montserrat
  h1
    font-size: 25px
    margin: 0
  .joinUsButton
    background-color: white
    color: black
    padding: 5px 20px
    display: table;
    margin: 0 auto
  input
    text-align: center;
    margin: 30px 0
    background: none
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: white
    width: 100%
    max-width: 500px
    padding-bottom: 5px
    &:focus
      outline-color: transparent;
      outline-style: none;
    &::placeholder
      font-family: Montserrat
      font-size: 20px
      text-align: center;
      color: white
      opacity: 0.4
.siteMapContact
  color: white
  padding: 30px 5%
  ul
    padding: 0 10px
    li
      list-style-type: none;
      font-size: 12px;
      opacity: 0.6
      cursor: pointer;
      padding: 2px 0
      &:first-child
        margin-bottom: 10px
        opacity: 1
        font-size: 18px
  .fax
    margin: 10px 0
    opacity: 1
    font-size: 18px
  .siteMapBlock
    width: 33.33%
    display: inline-block;
    vertical-align: top
    margin-bottom: 20px
  .siteMap
    width: 50%
    display: inline-block;
    vertical-align: top
  .contact
    width: 50%
    display: inline-block;
    vertical-align: top
    .sendEmail
      background: white
      color: black
      display: table;
      padding: 5px 10px
      margin-top: 5px
      cursor: pointer;
      font-size: 12px
    .contactFrom
      input
        display: inline-block;
        width 200px
        padding: 5px
        border: 0
        margin 5px 5px 5px 0
        &::placeholder
          font-family: Montserrat
          font-size: 12px
      textarea
        display: block
        resize: none
        padding: 5px
        width: 415px
        height: 70px
        border: 0
        &::placeholder
          font-family: Montserrat
          font-size: 12px
@media screen and (max-width:768px)
  .siteMapContact
    .siteMap
      width: 100%
    .contact
      width: 100%
      .contactFrom
        input
          width: 100%
        textarea
          width: 100%

@media screen and (max-width:450px)
  .siteMapContact
    .siteMap
      display: none
    .siteMapBlock
      width: 100%
