.container
  background-color:transparent;
  text-align: center
  max-width: 75vw
  margin: 0 auto
  position: relative;
  img
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 140px)
  .caption
    position: absolute;
    bottom: 25px
    color: red
    left: 0
    right: 0
    margin: 0 auto
    display: inline-block;
.arrowLeft
  width: 30px!important
  transform: rotate(180deg);
  padding: 0 20px
  cursor: pointer;
.arrowRight
  width: 30px!important
  cursor: pointer;
  padding: 0 20px
.closeButton
  position: absolute;
  width: 35px!important;
  right: 110px
  top: 30px
  cursor: pointer;
