.container
  background-color:transparent;
  text-align: center
  font-size: 0
  max-width: 60vw
  margin: 0 auto
  position: relative;
  img
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 140px)
.arrowLeft
  width: 30px!important
  transform: rotate(180deg);
  padding: 0 20px
  cursor: pointer;
.arrowRight
  width: 30px!important
  cursor: pointer;
  padding: 0 20px
.closeButton
  position: absolute;
  width: 30px!important;
  right: 80px
  top: 10px
  cursor: pointer;
