.container
  background-color:transparent;
  text-align: center
  font-size: 0
  img
    display: inline-block;
    vertical-align: middle;
    max-height: 70vh
.arrowLeft
  width: 30px!important
  transform: rotate(180deg);
  padding: 0 20px
  cursor: pointer;
.arrowRight
  width: 30px!important
  cursor: pointer;
  padding: 0 20px
