.previewBlock
  display: inline-block;
  width: 100%
  max-width: 33.33%
  cursor: pointer;
  overflow: hidden;
  .imageContainer
    width: 100%
    position: relative
    max-height: 197px
    overflow: hidden;
  .previewImage
    width: 100%
.caption
  font-size: 14px
  color: white
.category
  color white
  margin: 0 20px
  cursor: pointer;
  text-transform: uppercase;
  font-family: Montserrat
.categoriesContainer
  margin: 20px 0
.playButton
  width: 40px
  left: 0
  right: 0
  margin: 0 auto
  top: 50%
  transform: translateY(-50%)
  position: absolute;
.previewBlocksContainer
  font-size: 0
  max-width: 1050px
  margin: 0 auto
  text-align: left
.navigation
  cursor: pointer;
  border-radius: 50%
  width: 10px
  height: 10px
  border: 1px solid white
  display: inline-block;
  margin: 3px
.navigationActive
  margin: 3px
  cursor: pointer;
  border-radius: 50%
  width: 10px
  height: 10px
  border: 1px solid white
  display: inline-block;
  background: white
.container
  height: 100%
  text-align: center
.navigationContainer
  margin-top: 20px
  text-align: center
