.container
  height: calc(100vh - 80px)
  background-color: black
  text-align: center
  padding: 0 20px
  margin: 0 auto;
.mainVideo
  display inline-block
  width: calc(100% - 310px)
  vertical-align: middle;
  margin-right: 10px
  position: relative;
  height: 600px
  overflow: hidden
  .playButton
    position: absolute
    width: 100%
    left: 0
    top: 50%
    transform: translateY(-50%)
    z-index: 2
    width: 50px
    left: 0
    right: 0
    margin: 0 auto
    cursor: pointer;
  .fb, .twitter
    position: absolute;
    bottom: 0
    width: 50px
    bottom: 10px
    z-index: 10
  .fb
    right 20px
  .twitter
    right: 80px

.imagePreview
  width: 100%
.closeModal
  position: absolute;
  z-index: 2000
  cursor: pointer;
  right 10px
  width: 30px!important
  top 10px
  cursor: pointer;
.caption
  color: white
  text-align: left;
  font-size: 10px
  color: white
  font-family: Montserrat
  text-transform: uppercase;
  margin: 5px 0 10px 0
.listVideos
  display: inline-block;
  vertical-align: middle;
  width: 300px
  height: 100%
  overflow-y: scroll;
.previewBlock
  cursor: pointer;
  img
    width: 100%
.videoContainer
  position: static;
  height: 100%
.iframeContainer
  height: 100%
.imageOverlay
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 1
@media screen and (max-width 768px)
  .container
    padding: 0
  .videoContainer
    position: absolute;
    top: 50%
    height: auto
    transform: translateY(-50%)
  .mainVideo
    width: 100%
    margin-right: 0
    height: 400px
  .listVideos
    width: 100%
    height: auto
    overflow-x: scroll
    white-space:nowrap;
  .previewBlock
    display: inline-block;
    width: 40%
  .iframeContainer
    height: 350px
