.container
  height: calc(100vh - 80px)
  background-color: black
  text-align: center
  padding-left: 50px
  padding-right: 50px
.mainVideo
  display inline-block
  width: calc(100% - 300px)
  vertical-align: middle;
  padding-right: 10px
  img
    width: 100%
.caption
  color: white
  text-align: left;
.listVideos
  display: inline-block;
  vertical-align: middle;
  width: 300px
  height: 100%
  overflow-y: scroll;
.previewBlock
  cursor: pointer;
  img
    width: 100%
.videoContainer
  position: static;
  height: 100%

@media screen and (max-width 768px)
  .container
    padding: 0
  .videoContainer
    position: absolute;
    top: 50%
    transform: translateY(-50%)
  .mainVideo
    width: 100%
  .listVideos
    width: 100%
    height: auto
    overflow-x: scroll
    white-space:nowrap;
  .previewBlock
    display: inline-block;
    width: 40%
