.boxContainer
  width: 33.33%
  height: 197px
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  img
    width: 100%
.container
  height: 394px
  max-width: 1050px
  font-size: 0
  overflow:auto;
  margin: 0 auto
