.container
  vertical-align middle
  position relative
.searchInput
  background-color transparent
  border 1px solid white
  color white
.suggestionBox
  position absolute
  right 0
  color white
  width 100%
  .option
    padding 5px
    background-color grey
  .option:hover
    background-color rgb(166, 166, 166)
