.circle
  border-radius 50%
  transform translateZ(0)
  border 1px solid grey
  display inline-block
  vertical-align middle
  margin 4px
  transition 0.3s
  &.active
    background-color white
.circleContainer
  white-space nowrap
  margin 20px auto 0 auto
