.container
  vertical-align: top;
  width: calc(100% - 100px)
  max-width 800px
  background-color: white
  margin: 0 auto;
  position: relative;
.imageContainer
  display: inline-block;
  width 40%
  vertical-align: top;
  background-size: cover;
  position: relative
  margin: 20px
  img
    width: 100%
.closeButton
  display none
  float right
.contentContainer
  display: inline-block;
  width: calc(60% - 40px)
  box-sizing border-box
  height: 100%
  padding-right: 20px
  padding-top: 20px
  h1
    margin: 10px 0
    font-size: 16px
    font-family: montserrat
  h3
    margin: 0
    font-size: 10px
    font-family: Montserrat
    text-transform: uppercase;
  p
    font-weight: 400
    color: rgb(112, 112, 112)
  img
    filter: invert(100%)
    width: 20px
.arrowLeft
  width: 30px!important
  position: absolute
  top: 50%
  right: -40px
  transform: translateY(-50%)
  cursor: pointer;
.arrowRight
  width: 30px!important
  cursor: pointer;
  position: absolute
  top: 50%
  left -40px
  transform: translateY(-50%) scaleX(-1)
.modal
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 100%
  overflow auto
  max-width 900px
  :focus
    outline none
.overlayModal
  position fixed
  left 0
  right 0
  bottom 0
  top 0
  z-index 999999!important
  background-color rgba(0, 0, 0, 0.8)!important
@media screen and (max-width 450px)
  .container
    width: 100%
  .closeButton
    display block
    width 30px
    padding 10px
  .content
    height: 160px
    text-align left
    padding 0
  .container
    text-align left
    .imageContainer
      width 100%
      margin 0
    .contentContainer
      padding 20px
      width 100%
  .arrowRight
    transform: translateY(0) rotate(180deg)!important
  .arrowLeft, .arrowRight
    display inline-block
    position static
    filter: invert(100%)
    transform translateY(0)
    padding 10px
  .modal
    height 100vh
    position absolute
    z-index 999999
    background-color white!important
  .overlayModal
    background-color white!important
    position fixed
    left 0
    right 0
    top 0
    bottom 0
