.title
  background: -webkit-linear-gradient(#ffffff,#ffffff, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color white
  margin 0
  font-size: 40px
  font-family: Montserrat

@media screen and (max-width 500px)
  .title
    font-size: 20px
