.factSheetBlockContainer
  width: 28%
  min-width: 300px
  height: 220px
  margin: 20px 10px
  position: relative;
  float: left
  color: white
  cursor: pointer;
  border 2px solid #be9b42
  &:hover
    background: #be9b42
  img
    position: absolute;
    top 20px
    left: 20px
    width: 30px
  .content
    bottom: 20px
    left: 20px
    position: absolute;
    font-family: Montserrat
    .factsheet
      font-size: 14px
    .lang
      font-size: 30px
      font-weight: 700
.container
  h1
    color #be9b42
    font-family: Montserrat
    font-size: 40px
