.container
  padding-top 100px
  button
    display block
.blocksContainer
  width 50%
  display inline-block
.blockImage
  color white
  display inline-block
  vertical-align top
  width 20%
  img
    width 100%
    cursor pointer
  p
    width 100%
