.container
  width: 100%
  height: 100%
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: black
  button
    position: absolute;
    bottom: 20px
    border 1px solid #be9b42
    background: black
    left: 0
    right: 0
    margin: 0 auto
    width 160px
    color: white
    padding: 10px 0
    font-size: 12px
    font-family: Montserrat
    cursor: pointer;
    &:hover
      background: #be9b42
.titleContainer
  padding: 5px
  color: white
  background: linear-gradient(#be9b42,#be9b42,#81692e)
.borderContainer
  border 1px solid black
  h1
    font-family: montserrat
    font-style: normal;
    font-weight: 400
    color: white
.contentContainer
  color: white
  padding: 0 30px
  p
    text-align: left;
    font-size 14px
    line-height: 25px
    letter-spacing 1px
