.ticketsContainer
  max-width: 1000px
  text-align: center
  margin: 0 auto
.ticketCardContainer
  width: 300px
  height: 500px
  display: inline-block;
  margin: 20px 10px
.container
  margin-top: 80px
  padding: 20px 0 80px 0px
  background-image: url('./assets/images/bg.jpg')
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
.container > h1
  color: white
  font-family: Montserrat
  font-weight: 400
