.container
  color: white
  margin: 0 auto
  background-color: black
  max-width: 1000px
  padding: 100px 50px
  text-align: center
  position: relative;
  h2
    font-weight 400
    font-size 18px
  .block
    display inline-block
    cursor pointer
.closeButtonContainer
  position: absolute;
  right: 20px
  top: 20px
  font-size: 12px
  font-family: Montserrat
  font-weight: 400
  color: rgb(163, 163, 163)
  img
    width 30px
    vertical-align: middle;
    margin-left: 5px
.imagesContainer
  font-size 14px
  img
    display block
    width 200px
    padding 20px 20px
    margin 0 10px 10px 10px
    border 2px solid #be9b42
    &:hover
      background-color #be9b42
