.container
  color: white
  margin: 0 auto
  background-color: black
  max-width: 1000px
  padding: 50px 100px
  position: relative;
  h1
    text-align left
    font-size 25px
    margin-left 10px
    font-weight 400
  input
    width: 100%
    box-sizing: border-box;
  textarea
    width: calc(100% - 5px)
  button
    width: fit-content
    margin: 0 auto;
    background-color: #be9b42
    border: none
    color: white
    font-family: Montserrat
    margin-top: 30px
    padding: 5px 20px
    font-size: 14px
    font-weight: 400
  h2
    font-size: 14px
    font-weight: 200
    text-align left
    margin: 10px 0 2px 0
.col12
  width: 100%
  padding: 0 10px
  text-align: left;
.col3
  width: 33.33%
  padding: 0 10px
  display: inline-block;
  text-align: left;
.col6
    text-align: left;
    width: 66.66%
    padding: 0 10px
    display: inline-block;
.closeButtonContainer
  position: absolute;
  right: 20px
  top: 20px
  font-size: 12px
  font-family: Montserrat
  font-weight: 400
  color: rgb(163, 163, 163)
  img
    width 30px
    vertical-align: middle;
    margin-left: 5px
@media screen and (max-width 500px)
  .container
    padding 50px 5%
  .booknum
    text-align center!important
    margin-top 10px
  .colMobile100
    width 100%
  .colMobile50
    width 50%