@import '../assets/fonts/flaticon.css'
@font-face {
  font-family: 'kanit';
  src: url('../assets/fonts/Kanit-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'kanit';
  src: url('../assets/fonts/Kanit-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chonburi';
  src: url('../assets/fonts/Chonburi-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
