.singLogo
  position fixed
  bottom 20px
  right 20px
  z-index 999999
  color white
  font-size 8px
  img
    width 70px
@media screen and (max-width 768px)
  .singLogo
    width 100%
    height 80px
    background-color black
    bottom 0
    left 0
    right 0
    box-sizing  border-box
    img
      width 65px
    .singLogoContainer
      text-align center
      position absolute
      display table
      right 10px
      top 10px
